*.mp4
*.MP4
*.jpg
*.JPG
*.jpeg
*.JPEG
*.png
*.PNG
*.jar
*.apk
*.zip
*.7z
*.rar
*.tmp
superapp/
superapp/.git
superapp-backend/app/DJI_202605081317_013/
superapp-backend/app/DJI_202605081345_014/
__pycache__/
*.pyc
venv/
.venv/
.env